.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next.next__button-swiper,
.swiper-button-prev.prev__button-swiper {
  background: transparent;
  box-shadow: unset;
}

.swiper.testimonial-swiper {
  width: 100%;
}
